@page
@model LoginADMIN_Model

@{
}
<h1>Login</h1>
<form action="" method="post">
    <input type="text" name="Username" placeholder="username" />
    <input type="password" name="Password" placeholder="username" />
    <input type="submit" value="login" />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}