@model Net_Gis_Falcon.Peticion

@{
    ViewData["Title"] = "Create";
}

<h1>Crear una nueva peticion</h1>

<h4>Peticion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label">Fecha creacion</label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalizacionPeticion" class="control-label">Localización</label>
                <input asp-for="LocalizacionPeticion" class="form-control" />
                <span asp-validation-for="LocalizacionPeticion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <!--<select asp-for="Usuario" class="form-control" asp-items="ViewBag.Usuario"></select>-->
            </div>
        </form>
        <form action="form1" target="_blank">

            <p>
                Respuestas:<br>
                <input type="radio" name="respuesta" value="respuesta1"> respuesta1<br>
                <input type="radio" name="respuesta" value="respuesta2"> respuesta2<br>
                <input type="radio" name="respuesta" value="respuesta3"> respuesta3
            </p>
            <p><input type="button" value="Siguiente"></p>
            <p><input type="button" value="Atras "></p>
        </form>
        <form action="form2" target="_blank">

            <p>
                Respuestas:<br>
                <input type="radio" name="respuesta2" value="respuesta1.1"> respuesta1.1<br>
                <input type="radio" name="respuesta2" value="respuesta2.1"> respuesta2.1<br>
                <input type="radio" name="respuesta2" value="respuesta3.1"> respuesta3.1
            </p>
            <p><input type="button" value="Siguiente"></p>
            <p><input type="button" value="Atras "></p>
        </form>

        <form action="form3" target="_blank">

            <p>
                Respuestas:<br>
                <input type="radio" name="respuesta" value="respuesta1.1.1"> respuesta1.1.1<br>
                <input type="radio" name="respuesta" value="respuesta2.1.1"> respuesta2.1.1<br>
                <input type="radio" name="respuesta" value="respuesta3.1.1"> respuesta3.1.1
            </p>
            <p><input type="button" value="Siguiente"></p>
            <p><input type="button" value="Atras "></p>
        </form>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>


        <script type="text/javascript">

            function check() {
                var dropdown = document.getElementById("pregunta1");
                var current_value = dropdown.options[dropdown.selectedIndex].value;

                if (current_value == "urgencia1") {
                    document.getElementById("pregunta2").style.display = "block";

                } else {
                    document.getElementById("pregunta2").style.display = "none";
                }
            }

        </script>


    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
