@model Net_Gis_Falcon.Peticion

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Peticion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Fecha de creación</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">Localización </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalizacionPeticion)
        </dd>
        <dt class = "col-sm-2">Usuario</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioNavigation.Apellido)
        </dd>
    </dl>
</div>
<div>
   
    <a asp-action="Index">Volver a la lista</a>
</div>
