@model Net_Gis_Falcon.Respuestum

@{
    ViewData["Title"] = "Create";
}

<h4>Respuestas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CuerpoRespuesta" class="control-label">Cuerpo de la respuesta</label>
                <input asp-for="CuerpoRespuesta" class="form-control" />
                <span asp-validation-for="CuerpoRespuesta" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Principal" /> @Html.DisplayNameFor(model => model.Principal)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Nivel" class="control-label"></label>
                <select asp-for="Nivel" class ="form-control" asp-items="ViewBag.Nivel"></select>
            </div>
            <div class="form-group">
                <label asp-for="RespuestaPadre" class="control-label">Respuesta padre</label>
                <select asp-for="RespuestaPadre" class ="form-control" asp-items="ViewBag.RespuestaPadre"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>
