@model Net_Gis_Falcon.Usuario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <select asp-for="Genero" class="form-control">
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                    <option value="NB">No binario</option>
                    <option value="O">Otro</option>
                </select>
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idioma" class="control-label"></label>
                <input asp-for="Idioma" class="form-control" />
                <span asp-validation-for="Idioma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contraseña" class="control-label"></label>
                <input asp-for="Contraseña" class="form-control" />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="form-control" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Municipio" class="control-label"></label>
                <input asp-for="Municipio" class="form-control" />
                <span asp-validation-for="Municipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rol" class="control-label"></label>
                <select asp-for="Rol" class="form-control" id="rol_persona" onchange="alCambiar()">
                    <option value="1">Operador</option>
                    <option value="2">Administrador</option>
                </select>
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>

            <div class="form-group" id="zona">
                <label asp-for="OperadoresZonas" class="control-label"></label>
                <select asp-for="OperadoresZonas" class="form-control" asp-items="ViewBag.Zona">
                    <option value="">Sin padre</option>
                </select>
                <span asp-validation-for="OperadoresZonas" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function alCambiar() {
        var rol_seleccionado = $('#rol_persona').val();
        if (rol_seleccionado == 1) {
            $('#zona').show();
        } else {
            $('#zona').hide();
        }
    }

    function ocultar() {
        $('#zona').hide();
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
