@model IEnumerable<Net_Gis_Falcon.OperadoresZona>

@{
    ViewData["Title"] = "Create";
}

<h1>Operadores de Zonas</h1>

<p>
    <a asp-action="Create">Asignar</a>
</p>
<table class="table">
    <thead  class="thead-dark">
        <tr>
            <th>Operadores</th>
            <th>Zona</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OperadorNavigation.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZonaNavigation.NombreZona)
                </td>
                <td>
                    
                    <a asp-action="Details" asp-route-id="@item.Operador">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Operador">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

