@model Net_Gis_Falcon.Nivel

@{
    ViewData["Title"] = "Create";
}

<h4>Nivel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DescripcionPregunta" class="control-label">Descripcion de la pregunta</label>
                <input asp-for="DescripcionPregunta" class="form-control" />
                <span asp-validation-for="DescripcionPregunta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nivel1" class="control-label">Nivel</label>
                <input asp-for="Nivel1" class="form-control" />
                <span asp-validation-for="Nivel1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

