@model Net_Gis_Falcon.Nivel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Nivel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Descripcion </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionPregunta)
        </dd>
        <dt class = "col-sm-2">Nivel</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nivel1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPregunta">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>

