@model Net_Gis_Falcon.Zona

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Zona</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Nombre de Zona
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreZona)
        </dd>
        <dt class = "col-sm-2">
           Descripcion
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionZona)
        </dd>
        <dt class = "col-sm-2">
            Geometria
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeometriaZona)
        </dd>
    </dl>
</div>
<div>
   
    <a asp-action="Index">Volver a la lista</a>
</div>
